In [65]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
from urllib.parse import quote
import requests
import time
import pandas as pd
import re
import csv
import ssl
import time
ssl._create_default_https_context = ssl._create_unverified_context


driver = webdriver.Chrome("/opt/homebrew/bin/chromedriver")
# driver = webdriver.Chrome("c:/pydata/chromedriver")
review_data=[]

kakaopage=[146656,61476,143722,110137,144508,107497,111490,121982,150296,122296]

for k in kakaopage:
    driver.get("https://movie.daum.net/moviedb/crew?movieId="+str(k))
    #driver.execute_script("window.scrollTo(0, 53)") 
    time.sleep(3)
    html = driver.page_source
    soup=bs(html,"html.parser")
    
    # 영화제목
    title=soup.find("span",class_='txt_tit').text
    
    # 주장르
    genre=soup.find_all("dl",class_="list_cont")[1]
    genres=genre.text.replace("\n","").split("/")[0]
    genre=genres.replace("장르","")
    
    # 주연배우
    mainactor_soup=soup.find_all("div", class_="item_crew")
    main_actor=mainactor_soup[1].find("strong", class_="tit_item")
    
    try:
        main_actor=main_actor.text.strip()
            
    except AttributeError as err:
         main_actor="주연배우미상"
             
    # 감독
    director_soup=soup.find("div",class_="item_crew")
    director=director_soup.find("a",class_="link_txt").text
#     print(director)
    
    # 배급사
    distributor_soup=soup.find_all("dl",class_="list_produce")[-2]
    distributors=distributor_soup.find("a", class_="link_txt").text
    
  
    review_data.append([title,distributors,genre,director,main_actor])

driver.close()
        
df=pd.DataFrame(review_data,columns=["title","distributor","genre","director","main_actor"])
display(df.head(10))
display(df.tail(10))

df.to_csv("./kakaopageranking_test.csv",header=True,index=False,encoding="utf8")
# df.to_excel("./kakaopagerank_test.xlsx",header=True,index=False)

# print("작업이 완료되었습니다.")

/var/folders/6n/yywnll5x3_1cc4p34yq_4c_w0000gn/T/ipykernel_12592/2376448139.py:14: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("/opt/homebrew/bin/chromedriver")

,title,distributor,genre,director,main_actor
0,스파이더맨: 노 웨이 홈,소니 픽쳐스,액션,존 왓츠,톰 홀랜드
1,언차티드,소니 픽쳐스,액션,루벤 플레셔,톰 홀랜드
2,보스 베이비 2,유니버설 픽쳐스,애니메이션,톰 맥그래스,알렉 볼드윈
3,더 배트맨,워너브러더스 코리아㈜,액션,매트 리브스,로버트 패틴슨
4,극장판 짱구는 못말려: 격돌! 낙서왕국과 얼추 네 명의 용사들,CJ ENM,애니메이션,쿄고쿠 타카히코,박영남
5,보스 베이비,CJ ENM,애니메이션,톰 맥그래스,알렉 볼드윈
6,신비한 동물들과 그린델왈드의 범죄,워너브러더스 코리아㈜,판타지,데이빗 예이츠,에디 레드메인
7,드래곤 길들이기 3,유니버설픽쳐스인터내셔널 코리아(유),애니메이션,딘 데블로이스,제이 바루첼
8,애프터: 관계의 함정,판씨네마㈜,드라마,캐스틸 랜던,조세핀 랭포드
9,트롤: 월드 투어,유니버설 픽쳐스,애니메이션,월트 돈,데이빗 P. 스미스

,title,distributor,genre,director,main_actor
0,스파이더맨: 노 웨이 홈,소니 픽쳐스,액션,존 왓츠,톰 홀랜드
1,언차티드,소니 픽쳐스,액션,루벤 플레셔,톰 홀랜드
2,보스 베이비 2,유니버설 픽쳐스,애니메이션,톰 맥그래스,알렉 볼드윈
3,더 배트맨,워너브러더스 코리아㈜,액션,매트 리브스,로버트 패틴슨
4,극장판 짱구는 못말려: 격돌! 낙서왕국과 얼추 네 명의 용사들,CJ ENM,애니메이션,쿄고쿠 타카히코,박영남
5,보스 베이비,CJ ENM,애니메이션,톰 맥그래스,알렉 볼드윈
6,신비한 동물들과 그린델왈드의 범죄,워너브러더스 코리아㈜,판타지,데이빗 예이츠,에디 레드메인
7,드래곤 길들이기 3,유니버설픽쳐스인터내셔널 코리아(유),애니메이션,딘 데블로이스,제이 바루첼
8,애프터: 관계의 함정,판씨네마㈜,드라마,캐스틸 랜던,조세핀 랭포드
9,트롤: 월드 투어,유니버설 픽쳐스,애니메이션,월트 돈,데이빗 P. 스미스

In [33]:
!ls

3521
3521.pub
Applications
Daum_Score_kakaopage.csv
Daum_Score_kakaopage.xlsx
Desktop
Documents
Downloads
Kakao_rank.txt
Library
Movies
Music
New_age.xlsx
Pictures
Public
PycharmProjects
README.md
Reviews_KaKao.xlsx
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
Untitled4.ipynb
Untitled5.ipynb
Untitled6.ipynb
build
daum.csv
daum.txt
dir
expected_test.csv
expected_test.xlsx
final.csv
gh.csv
ho.csv
kakaopagerank_test.csv
kka.csv
kka.xlsx
local_directory
machinelearning
miniforge3
nltk_data
opt
oyster.csv
samples.csv
search_reviews.RData
test.txt
test3
train.csv
다음 제목 평점 리뷰 크롤링.ipynb
다음 평점 리뷰.ipynb
다음 영화 순위별 평점 리뷰.ipynb
리뷰_concat.csv
리뷰_긍부정 분석.ipynb
리뷰_긍부정분석_TextBlob.ipynb
배급사.ipynb
다음영화 정보.ipynb
뉴에이지 다음리뷰 완성.ipynb
레이블링데이터_concat.txt
레이블링학습데이터.txt
레이블링학습데이터_2만6천.txt
레이블링테스트데이터.txt
레이블링테스트데이터_2만6천.txt
다음영화평점리뷰(총).txt

In [49]:
pwd!

'/Users/wellekim'

In [66]:
import pandas as pd

In [231]:
naver_df=pd.read_csv("Main_actor_test.csv")
naver_df=naver_df.drop(columns=['Unnamed: 0'],axis=1)
daum_df=pd.read_csv("kakaopageranking_test.csv")

In [232]:
naver_df

               title distributor   genre director       main_actor
0             용서는 없다      시네마서비스     느와르      김형준              설경구
1        아빠가 여자를 좋아해         쇼박스  멜로/로맨스      이광재              이나영
2                하모니          CJ     드라마      강대규              NaN
3                의형제         쇼박스      액션       장훈              송강호
4              평행 이론          CJ      공포      권호영              NaN
..               ...         ...     ...      ...              ...
238        해에게서 소년에게         디씨드     드라마      안슬기              신연우
239           울보 권투부       인디스토리   다큐멘터리      이일하  도꾜 조선 중고급학교 권투부
240             어떤살인     컨텐츠온미디어     느와르      안용훈              윤소이
241        말하지 못한 비밀      마운틴픽처스     드라마      송동윤               지수
242  조선안방 스캔들-칠거지악 2       케이알씨지  멜로/로맨스       이전               은경

[243 rows x 5 columns]

In [289]:
naver_df=naver_df.fillna("미상")
naver_df.head(20)

                  title   distributor   genre director main_actor
0                용서는 없다        시네마서비스     느와르      김형준        설경구
1           아빠가 여자를 좋아해           쇼박스  멜로/로맨스      이광재        이나영
2                   하모니            CJ     드라마      강대규         미상
3                   의형제           쇼박스      액션       장훈        송강호
4                 평행 이론            CJ      공포      권호영         미상
5                회오리 바람          모쿠슈라     드라마      장건재        서준영
6                경계도시 2          시네마달   다큐멘터리      홍형숙        송두율
7                이웃집 남자        루믹스미디어     드라마      장동홍        윤제문
8           아마존의 눈물 극장판        마운틴픽처스   다큐멘터리      김진만        김남길
9               반가운 살인자  롯데쇼핑롯데엔터테인먼트     코미디      김동욱        유오성
10             집 나온 남자들          싸이더스     코미디       이하        지진희
11                베스트셀러           시너지    미스터리      이정호        엄정화
12                작은 연못       노근리프로덕션      액션      이상우        문성근
13                    경       KTG상상마당     드라마      김소영        양은용
14              대한민국 1%      롯데엔터테인먼트     드라마      조명남        손병호
15               포화 속으로      롯데엔터테인먼트      액션      이재한        차승원
16         나쁜 놈이 더 잘 잔다          키노아이     느와르      권영철        김흥수
17                맨발의 꿈           쇼박스     드라마      김태균        박희순
18                   요술            CJ     드라마      구혜선        임지규
19  마법천자문: 대마왕의 부활을 막아라            CJ   애니메이션      윤영기        정선혜

In [234]:
from sklearn.preprocessing import LabelEncoder

In [235]:
# 라벨 인코더 생성
encoder = LabelEncoder()

# X_train데이터를 이용 피팅하고 라벨숫자로 변환한다
encoder.fit(naver_df["genre"])
X_train_encoded = encoder.transform(naver_df["genre"])
print(X_train_encoded)
# X_test데이터에만 존재하는 새로 출현한 데이터를 신규 클래스로 추가한다 (중요!!!)
for label in np.unique(naver_df["genre"]):
    if label not in encoder.classes_: # unseen label 데이터인 경우( )
        encoder.classes_ = np.append(encoder.classes_, label) # 미처리 시 ValueError발생
X_test_encoded = encoder.transform(naver_df["genre"])
X_test_encoded

val=pd.DataFrame()
val['genre_lab']=X_test_encoded

[ 2  5  4 10  1  4  3  4  3 11 11  7 10  4  4 10  2  4  4  9  4  1  1  2
  4 10  4  7  5  5  5  3  3  4  3  4  4  3  4  5  4  5 10 11  4  4  4  4
  4  3  3  1  8 10  4  4  3 11 11  4 10 11 11  4  2  4  5  1  5  4  4 11
  7  5  5  4  5  4  1  3  4 10  4  5  3  7  4  3  3  4  3  3  3  5  3  4
  4  4  4  5  1  2  3  4 11  9 11  4  2  3  5  4  2  4  4  7  5  1 11  1
  4  4  1  3  4 11  4  3  4  3  7  4  5  7 10 10 11 11  5  4  5  4 11  5
  5  4  3  9  4 11  4  5  1  4  4 10 10  9 10  2  4 10  4  5  3  5  1  4
  1  1 11  1 11  5  4  4  5  3 10 10  5  5  5  4  2  6  4  4  5  4  3  5
  5  5  5 11  3  2  1 11  4  9  9  5  5 10  4  4 10  2  4  5  4 11  3  4
  4  3  3  1  0  4  5  4  9 10  4 11  3 10  1 11  4  3 10  9  1  4  4  3
  2  4  5]

In [236]:
# 라벨 인코더 생성
encoder = LabelEncoder()

# X_train데이터를 이용 피팅하고 라벨숫자로 변환한다
encoder.fit(naver_df["director"])
X_train_encoded = encoder.transform(naver_df["director"])
print(X_train_encoded)
# X_test데이터에만 존재하는 새로 출현한 데이터를 신규 클래스로 추가한다 (중요!!!)
for label in np.unique(naver_df["director"]):
    if label not in encoder.classes_: # unseen label 데이터인 경우( )
        encoder.classes_ = np.append(encoder.classes_, label) # 미처리 시 ValueError발생
X_test_encoded = encoder.transform(naver_df["director"])
X_test_encoded

# val=pd.DataFrame()
val['director_lab']=X_test_encoded

[ 56 126   0 175  16 169 216 170  48  21 158 153 135  33 191 149  14  51
  12 122 148 141 173   1 140  15 123 137  45 165  44  46  62 183 139  34
 219  99  83  94  31  43 208 185 152 159  73  37 217 179 204 106 116 192
  80  63 160  74 166  67 178 199 111 100  69 135  50  79 146  71   2 185
   9  92  90 206  50 189  38  91   3 182  70 194  55  88  75 181 202  11
  48  39 205  20 167  87 200 197  51 190  56 118 187 112 212 210 138 215
  86 153 176 163 130 114  35  16   5 180 133  13  76 120  25  98  61  10
  40  32 195 187 105 156 203 127  85 119 164 161  68   8  30  31 198  77
 209 159  72 174  19  81  22 110 129  17 145  78 186  52 151 172 188 201
 144  64  42 211 153 184 121  82  57 101 177   7 131 117 128  18  54 125
 193  24 113  27  58  95  47 154 132  49  29 142 157  26  24 133  23  96
 134 104 103 143 213 155  41 162  53  11 176 124 170 115  67  36 218 193
   4 197  84  93 196 156 171  70 214 207  60   6 168  65  59  28 102 109
  89  66 136 193 107 147 108  97 150]

In [237]:
# 라벨 인코더 생성
encoder = LabelEncoder()

# X_train데이터를 이용 피팅하고 라벨숫자로 변환한다
encoder.fit(naver_df["main_actor"])
X_train_encoded = encoder.transform(naver_df["main_actor"])
print(X_train_encoded)
# X_test데이터에만 존재하는 새로 출현한 데이터를 신규 클래스로 추가한다 (중요!!!)
for label in np.unique(naver_df["main_actor"]):
    if label not in encoder.classes_: # unseen label 데이터인 경우( )
        encoder.classes_ = np.append(encoder.classes_, label) # 미처리 시 ValueError발생
X_test_encoded = encoder.transform(naver_df["main_actor"])
X_test_encoded

# val=pd.DataFrame()
val['main_actor_lab']=X_test_encoded

[ 91 144  58  96  58  90  97 141  18 131 181 117  56 115  95 183  48  73
 161 169 148 125  87  74 153  84 124  53 136  66 151  58   1 107  85  47
  92  69 135  98  46 195 176  39 111  35 157 145   8 114 168  58  58 146
 202 119  93 112  68  79  31  54  65 130 108 149 182  14 160 127 172 173
 194 179  42 190  70  65 129   6 154 172  58  99   9  54 100 167 193  40
  99  11  58 175 162 127  41  30 138  71  73 147 166  57  58 158 202 151
  58 155 137  35 179 143 185 174 159  58 177 156  75  77 188 128  24  19
  81  50  88 126  17  58 152  15   0   8 199  33 101  26  28  22  62  31
 187  49  43 170  16 192 171 200  55   7 186 146  59  78 163 183  76  53
  82  83  37 106 172 120 198 105   3 118  63 196 110 113   2 103  45 191
 150   5 184 133  34 109 197 121  32  52  12  67  64  86   5  34  13  25
  80  29  38 116 116   4  72  54  23  35 132 160 140 165 178 123 201  36
  60  27  44 134 122  96 203 164  94 189  70 117 102 202  61  21  87  10
  89  58  58  20 104  51 139 180 142]

In [238]:
val

     genre_lab  director_lab  main_actor_lab
0            2            56              91
1            5           126             144
2            4             0              58
3           10           175              96
4            1            16              58
..         ...           ...             ...
238          4           107             104
239          3           147              51
240          2           108             139
241          4            97             180
242          5           150             142

[243 rows x 3 columns]

In [239]:
corr=val.corr()
print(corr)

#1에 가까우면 상관이 있음, 0에 가까우면 상관이 없음, -면 상관관계가 반대임

                genre_lab  director_lab  main_actor_lab
genre_lab        1.000000      0.148963        0.034017
director_lab     0.148963      1.000000        0.135249
main_actor_lab   0.034017      0.135249        1.000000

In [241]:
X = val[["director_lab","main_actor_lab"]]
Y = val["genre_lab"]
print(Y)
x_train= X[:170].values
x_test=X[170:].values

y_train=Y[0:170].values
y_test=Y[170:].values

# x_train.shape,y_train.shape

0       2
1       5
2       4
3      10
4       1
       ..
238     4
239     3
240     2
241     4
242     5
Name: genre_lab, Length: 243, dtype: int64

In [242]:
# 머신러닝
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.filterwarnings(action='ignore')

In [243]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
Y_pred = logreg.predict(x_test)
acc_log = round(logreg.score(x_train, y_train) * 100, 2)
acc_log

34.12

In [251]:
val.tail()

     genre_lab  director_lab  main_actor_lab
238          4           107             104
239          3           147              51
240          2           108             139
241          4            97             180
242          5           150             142

In [290]:
val.head(20)

    genre_lab  director_lab  main_actor_lab
0           2            56              91
1           5           126             144
2           4             0              58
3          10           175              96
4           1            16              58
5           4           169              90
6           3           216              97
7           4           170             141
8           3            48              18
9          11            21             131
10         11           158             181
11          7           153             117
12         10           135              56
13          4            33             115
14          4           191              95
15         10           149             183
16          2            14              48
17          4            51              73
18          4            12             161
19          9           122             169

In [291]:
u1=np.array([[169,18]])
print(u1.shape)
logreg.predict(u1)

(1, 2)

array([4])

In [277]:
# Support Vector Machines

svc = SVC()
svc.fit(x_train, y_train)
Y_pred = svc.predict(x_test)
acc_svc = round(svc.score(x_train, y_train) * 100, 2)
acc_svc = round(svc.score(x_test, y_test) * 100, 2)
acc_svc

30.14

In [259]:
u1=np.array([[107,104]])
print(u1.shape)
logreg.predict(u1)

(1, 2)

array([4])

In [278]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(x_train, y_train)
Y_pred = knn.predict(x_test)
acc_knn = round(knn.score(x_train, y_train) * 100, 2)
acc_knn = round(knn.score(x_test, y_test) * 100, 2)
acc_knn

20.55

In [262]:
u1=np.array([[107,104]])
print(u1.shape)
logreg.predict(u1)

(1, 2)

array([4])

In [263]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(x_train, y_train)
Y_pred = decision_tree.predict(x_test)
acc_decision_tree = round(decision_tree.score(x_train, y_train) * 100, 2)
acc_decision_tree = round(decision_tree.score(x_test, y_test) * 100, 2)
acc_decision_tree

15.07

In [265]:
u1=np.array([[107,104]])
print(u1.shape)
logreg.predict(u1)

(1, 2)

array([4])

In [270]:
val.tail()

     genre_lab  director_lab  main_actor_lab
238          4           107             104
239          3           147              51
240          2           108             139
241          4            97             180
242          5           150             142

In [276]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(x_train, y_train)
Y_pred = random_forest.predict(x_test)
random_forest.score(x_train, y_train)
acc_random_forest = round(random_forest.score(x_train, y_train) * 100, 2)
acc_random_forest = round(decision_tree.score(x_test, y_test) * 100, 2)
acc_random_forest

15.07

In [274]:
u1=np.array([[150,142]])
print(u1.shape)
logreg.predict(u1)

(1, 2)

array([4])

In [279]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                     Model  Score
2      Logistic Regression  34.12
0  Support Vector Machines  30.14
1                      KNN  20.55
3            Random Forest  15.07
4            Decision Tree  15.07